//Proxima Nova

@font-face {
  font-weight: 300;
  font-family: 'ProximaNova';
  font-style: normal;
  src: url('../fonts/ProximaNova/proximanova-light.ttf') format('truetype');
}

@font-face {
  font-weight: 400;
  font-family: 'ProximaNova';
  font-style: normal;
  src: url('../fonts/ProximaNova/proximanova-regular.ttf') format('truetype');
}

@font-face {
  font-weight: 600;
  font-family: 'ProximaNova';
  font-style: normal;
  src: url('../fonts/ProximaNova/proximanova-semibold.ttf') format('truetype');
}

@font-face {
  font-weight: 700;
  font-family: 'ProximaNova';
  font-style: normal;
  src: url('../fonts/ProximaNova/proximanova-bold.ttf') format('truetype');
}
