$font-primary: 'sans-serif';
$shadow_button_hover: 0 20px 38px rgba(0, 0, 0, 0.16);
$timing_function_btn_hover:  cubic-bezier(0.25, 1, 0.33, 1);

$screen-xs: 320px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lgm: 1200px;
$screen-lg: 1440px;
